<!DOCTYPE html>
<html>
    <head>
        <title>Banking Site</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>

        <div class="hero" id="home">
            <nav>
                <h2 class="logo">ZYPHER<span> BANK</span></h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <a href="signin.html" class="btn">Sign In</a> 
            </nav>
            <p style="margin-left: 65px; margin-top: 10px; color: black; font-weight: bold;">Online Banking Site</p>
            <div class="content">
                <p style="font-size: 50px;">ZYPHER BANK Support,<p>
                <br>
                <br>
                <h4 style="color: red;">Redefined!!</h4>
                <br>
                <br>
                <p style="font-weight: bold;">All new Zyhper Bank support with contemproary, user friendly design
                    <br>
                   and support in multiple regional languages for better experiences.
                </p>
                <br>
                <br>
                {% if predicted_output %}
                    <h2>{{predicted_output}}</h2>
                {% endif %}
                <form style="margin-top: 20px;" action="/submit" method="post">
                <div class="news">
                        <input type="text" name="id">
                    </div>
                    <button class="login" type="submit">Submit</button>
                </form>
            </div>
        </div>

      
        <div class="me">
            <p class="name">ZYPHER <span style="color: red;">BANK</span></p>
            <p class="details">For more details contact us.</p>
            <div class="signs">
            <a href="#"> <i class="fa-solid fa-envelope" style="margin-right: 40px; color: black;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="margin-right: 40px; color: black;"></i></a>
            <i class="fa-solid fa-phone"></i>
            </div>
        </div>
    </body>
</html>