<!DOCTYPE html>
<html>
    <head>
        <title>Forms</title>

        <link rel="stylesheet" href="/static/siginin.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    </head>
    <body class="container">
        <h3 class="head">Sign <span style="color: red;">In</span></h3>
        <form>
          <div class="div">
            <label>First name :</label>
            <input type="text"placeholder="Enter your First Name">
          </div>
          <br>
          <div class="div">
            <label>Last name :</label>
            <input type="text"placeholder="Enter your Last Name">
          </div>
          <br>
          <div class="div">
            <label>Password :</label>
            <input type="password"maxlength="15">
          </div>
          <br>
          <div class="div">
            <label>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
            <input type="email"placeholder="abc@gmail.com">
          </div>
          <br>
          <div class="div">
            <label>Phone number :</label>
            <input type="tel" placeholder="00000-00000">
          </div>
          <br>
          <div class="div">
            <label>Date of birth :</label>
            <input type="Date">
          </div>
          <br>
        </form>
       <a href="index.html"><button class="button">Submit</button></a>
    </body>
</html>